html{
  overflow:auto;
}
@font-face {
  font-family: 'mq';
  src: url('../fonts/TTF/Panchang-Variable.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  min-height: 100vh;
  /* background-image: url(../images/step.png); */
  /* background-image: url("../images/bg1.svg"); */
  background-color: #050f1a;
  /* background-image:linear-gradient(140deg, rgba(0,0,0,1) 20%, #1db468 59% ); */
  font-family: 'mq',"Space Grotesk", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-img{
  width: 8%;
  padding-top:0;
}

.navbar-brand {
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  max-width:fit-content;
}

.container{
  display:flex;
  flex-direction: column;
  min-width:100%;
  padding-bottom: 60px;
}

#cont-col{
  color:white;
  text-align: center;
}
.hm-button{
  margin:25px;
  border: none;
  font-size: 0.8rem;
  justify-content: baseline;
}
a,
a:hover,
a:visited,
a:active
{
  color: #29e97e;
  text-decoration: none;
}
a:hover{
    color: #395044;

}
.cont-text{
  .logo-img{
    width: 8%;
    padding-top:0;
  }
  
  .navbar-brand {
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    max-width:fit-content;
  }
  
  .container{
    margin:0;
    padding:0;
    padding-bottom: 10%;
    min-width:100%;
  }
  
  .hm-button{
    margin:25px;
    border: none;
    font-size: 0.8rem;
    justify-content: baseline;
  }
  a,
  a:hover,
  a:visited,
  a:active
  {
    color: #29e97e;
    text-decoration: none;
  }
  a:hover{
      color: #395044;
  
  }
  img{
    width:80%;
    padding-top: 8%;
  }
  padding: 7% 6% 0;
  text-align: justify;
}
h2{
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}
p{
  font-size: 20px;
  font-family: 'mq';
}

/* Container for the technical partner section */
.logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; /* Add margin to push it away from other content */
  padding-bottom: 50px; /* Add padding to avoid overlap with footer */
}

.logocontents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050f1a; /* Optional: Add background color for contrast */
  padding: 20px;
  /* border-radius: 10px; */
}

.text p {
  margin: 0;
  font-size: 0.8rem;
  color: #ffffff;
}

.microimg {
  width: 100px; /* Adjust size of partner logo */
  margin-left: 20px;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
}
.footer-class{
  background-color: #100F0F;
  padding:3%;
}

#footer-text{
  font-size: 15px;
  padding-left:5px;
  font-weight: bold;
}

/* a,
a:hover,
a:visited,
a:active
{
  color: white;
  text-decoration: none; */
/* } */

/* .hm-button{ */
  /* margin:25px; */
  /* border: none; */
  /* font-size: 0.8rem; */
  /* justify-content: baseline; */
/* } */
i{
  color: #ffffff;
}
.com-name{
  color:white;
}

@media only screen and (max-width:850px) {
.navbar-brand {
  font-size: 1.5rem;
  width: min-content;
}
.hm-button{
margin:0;
font-size: 0.8rem;
}
p{
  font-size: 1.5rem;
}
.microimg{
  width:100px;
}
.logo-img{
  width:20%;
}

}
.contact-details p {
    margin: 0;
}

.social-media a {
    color: #333;
    font-size: 1.5rem;
}

.social-media a:hover {
    color: #007bff;
}


@media only screen and (max-width:530px) {
body{
width:100%;
margin:0;
overflow-x: hidden;
}
.navbar-brand {
  font-size: 1.5rem;
  width: min-content;
}
.hm-button{
margin:0;
font-size: 0.8rem;
}
h2 {
  font-size: 3rem;
}
p{
  font-size: 1rem;
}
.microimg{
  width:100px;
}
.logo-img{
  width:20%;
}
}
