html{
  overflow:auto;
}

body {
  min-height: 100vh;
  background-image:linear-gradient(140deg, rgba(0,0,0,1) 20%, #1db468 59% );
  font-family: "Space Grotesk", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-brand {
  color:white;
  font-family:sans-serif;
  font-weight: bold;
  font-size: 33px;
}

.button{
  /* font-weight: bold; */
  margin:25px;
  border: none;
  color:white;
  font-size: 30px;
}
a,
a:hover,
a:visited,
a:active{
  color:white;
  text-decoration: none;
}

.container{
  display:flex;
  min-width:100%;
  overflow-y: scroll;
  padding-bottom: 60px;
}

#cont-col{
  margin-top:5%;
  color:white;
  text-align: center;
}

.cont-text{
  padding: 7% 6% 0;
  text-align: justify;
}
h2{
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}
p{
  font-size: 27px;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
}
.footer-class{
  background-color: rgba(0, 0, 0, 0.2);
}

#footer-text{
  font-size: 15px;
  padding-left:5px;
  font-weight: bold;
}
i{
  color: #ffffff;
}

@media only screen and (min-width:470px) {
  body{
  width:100%;
  margin:0;
  }
  /* footer{
    position:absolute;
  } */
}
/* rgba(31,140,114,1) */