/* -------- CARD Starts Here ------------- */

.carousel-body {
  position: relative;
  width: 100%;
  height: 70vh;
  background: var(--gradient-2);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-text);
  /* font-family: "Poppins", sans-serif; */
  padding: 0 50px;
}
.carousel {
  flex-basis: 60%;
  /* overflow: hidden; */
  max-width: 1400px;
  transition: all 300ms ease;
}
.carousel-info {
  flex-basis: 40%;
}
.slide-container {
  position: relative;
  padding: 60px 0 30px;
  width: 100%;
  /* background: rgb(201, 198, 198); */
  /* overflow: hidden; */
}
.slide-content {
  margin: 0 60px;
  /* background-color: red; */
  overflow: hidden;
  /* border-radius: 25px; */
}
.card {
  /* width:320px; */
  /* border-radius: 25px; */
  /* background-color: #fff; */
}
.image-content,
.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 14px; */
}
.image-content {
  padding: 10px 14px;
}
.card-image {
  /* position: relative; */
  height: 400px;
  width: 400px;
  /* border-radius: 50%; */
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  border-radius: 20px;
}
.button {
  border: none;
  font-size: 20px;
  color: var(--secondary-text);
  padding: 8px 16px;

  /* background: #4070f4; */
  background: #34a05f;

  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  color: var(--primary-text);
  /* background: #265df2; */
  background: #2b7a4a;
}
.swiper-custom-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;

  /* color: #4070f4; */
  color: #34a05f;
}
.nav-left,
.nav-right {
  cursor: pointer;
}
.nav-left:hover,
.nav-right:hover {
  /* color: #265df2; */
  color: #2b7a4a;
}
.swiper-pagination {
  --swiper-theme-color: #34a05f;
}
.swiper-pagination-bullet {
  opacity: 1;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

.carousel-info {
  padding: 0px 60px 40px;
  position: relative;
}
.carousel-info h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.carousel-info p {
  font-size: 1.2rem;
  font-weight: 400;
}
@media only screen and (max-width: 1700px) {
  .carousel-body {
    flex-direction: column;
    overflow: hidden;
    height: 80vh;
  }
  .carousel,
  .carousel-info {
    flex-basis: 100%;
  }
  .carousel-info {
    padding: 40px 30px 0px;
  }
}
@media only screen and (max-width: 1400px) {
  .carousel {
    max-width: 950px;
  }
  /* .image-content {
      padding: 10px 7px;
    } */
  .carousel-info h1 {
    font-size: 2.5rem;
  }
  .carousel-info p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-body {
    height: 110vh;
    padding: 0 30px;
  }
  .carousel {
    max-width: 550px;
  }
  .carousel-info {
    padding: 40px 10px 0px;
  }
}

/* -------- CARD Ends Here ------------- */
