@font-face {
  font-family: 'mq';
  src: url('../fonts/TTF/Panchang-Variable.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:"mq" ,"Space Grotesk", sans-serif;
  background-image: url("../images/bg1.svg");
  background-color: #050f1a;
  /* background: linear-gradient(135deg, #050f1a, #100e25, #16354e); */
  background-position: bottom;
  background-repeat: no-repeat;
  bottom:0;
  overflow-x: hidden;
  height: auto;
}

.logo-img{
  width: 8%;
  padding-top:0;
}

.navbar-brand {
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  max-width:fit-content;
}

.container{
  margin:0;
  padding:0;
  padding-bottom: 10%;
  min-width:100%;
}

.abt-button{
  margin:25px;
  border: none;
  font-size: 0.8rem;
  justify-content: baseline;
}
a,
a:hover,
a:visited,
a:active
{
  color: #29e97e;
  text-decoration: none;
}
a:hover{
    color: #395044;

}
img{
  width:80%;
  padding-top: 8%;
}

.text-col{
  padding-left:8%;
  margin-top: 10%;
  color:white;
}
h1{
  font-family: 'mq', cursive;
  margin-left:20px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(
    225deg,
    #ACB1D6 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s reverse infinite;
  display: inline-block;
  font-size: 3.6rem;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

p{
  padding: 10px;
  margin-left: 20px;
  padding-top: 15px;
  font-size: 1.2rem;
}
.intro-con{
  margin-left:20px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

/* ----------------- */
.ag-courses_box {
  width:100%;
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flex;
  display:flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ag-courses_item {
  width: 400px;
  height: 200px;
  display: flex;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  margin: 0 3% 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 28px;
  margin-right: 5%;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(13);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-size: 1.0em;
  text-align: center;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color:  #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: linear-gradient(#050f1a, #100e25, #16354e);
}

@media only screen and (max-width: 680px) {
  .navbar-brand{
    width: min-content;
  }
    h1{
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
  }
  .intro-con{
  margin-left:0;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
  img{
    width: 100%;
    margin-top: 10%;
    padding-bottom: 5%;
  }
  .logo-img{
  width:20%;
  margin-top: 5%;
}
}

@media only screen and (max-width: 470px){

.navbar-brand {
  font-size: 1.5rem;
  width: min-content;
}
.abt-button{
  margin-top:0;

}
h1{
  text-align:center;
  font-size: 2rem;

}
.row{
  margin: 8% 4%;
}
  .abt-button{
      margin:0;
  font-size: 0.8rem;
  }
.logo-img{
  width:20%;
  margin-top: 5%;
}
}

/* .mission-row { */
  /* margin-top: 50px; */
  /* color: white; */
  /* font-family: "mq"; */
/* } */
/*  */
/* .mission-row h2 { */
  /* font-size: 2.0rem; */
  /* font-weight: bold; */
/* } */
/*  */
/* .mission-row p { */
  /* font-size: 1.5rem; */
  /* font-weight: lighter; */
/* } */
#main-cont {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Ensures space between columns */
}
.mission-container {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  color: white;
  font-size: 2.5rem;
}

#missionText {
  font-family: 'mq';
  font-weight: normal;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

/* Research Block Section */
.research-block {
  background-color: black;
  color: white;
  /* padding: 30px 20px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Research Information (left side) */
.research-info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.research-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.research-info .btn {
  font-size: 0.8rem;
  padding: 10px 20px;
  background-color: #064b15;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.research-info .btn:hover {
  background-color: #0a6b1f;
}

/* Research Image Carousel (right side) */
.research-carousel {
  position: relative;
  display: flex;
  /* justify-content: flex-cen; */
  align-items: center;
  width: 100%; /* Ensure the carousel takes up full width of the column */
  height: 100%; /* Ensure the carousel takes up full height of the column */
  overflow: hidden; /* Hide any overflow from the image */
}

.research-carousel img {
  display: block; /* Ensure no extra space below image */
  width: 70%; /* Ensure image fits within its container */
  height: 50%; /* Maintain aspect ratio */
  max-width: none; /* Disable max-width constraint */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  border: none; /* Remove any borders */
  box-shadow: none; /* Remove any box-shadow */
  /* margin-left: 150px; */
  padding: 0; /* Remove padding */
}

/* Arrow Button for Carousel */
.carousel-arrow {
  background-color: #ffffff;
  color: black;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%; /* Circle shape for the arrow button */
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-arrow:hover {
  background-color: #f0f0f0;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .research-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0; /* Remove padding to touch edges */
      margin: 0; /* Remove margin to ensure it touches edges */
      width: 100%; /* Ensure full width */
  }

  .research-info, .research-carousel {
      width: 100%; /* Ensure full width for both sections */
      box-sizing: border-box; /* Include padding and border in width calculation */
      padding: 20px; /* Add padding for internal spacing */
  }

  .research-info h1 {
      font-size: 2.5rem;
      margin-bottom: 10px; /* Add space below heading */
  }

  .research-info p {
      font-size: 1.2rem;
      margin-bottom: 20px; /* Add space below paragraph */
  }

  .research-info .btn {
      font-size: 1rem;
  }

  .research-carousel {
      width: 100%; /* Ensure full width */
      padding: 0; /* Remove padding to touch edges */
      box-sizing: border-box; /* Include padding and border in width calculation */
  }

  .research-carousel img {
      width: 100%; /* Ensure image fits the container */
      height: auto; /* Maintain aspect ratio */
  }

  .carousel-arrow {
      background-color: #ffffff;
      color: black;
      font-size: 1.2rem;
      border: none;
      border-radius: 50%; /* Circle shape */
      padding: 15px;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 10;
      transition: background-color 0.3s ease;
  }

  .carousel-arrow:hover {
      background-color: #f0f0f0;
  }
}


footer{
  bottom:0;
  width:100%;
}
.footer-class{
  background-color: #080808;
  padding:3%;
}

#footer-text{
  font-size: 15px;
  padding-left:5px;
  font-weight: bold;
  color: white;
}


