* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ash: #575761;
  --creme: #f4ebd9;
  --accent: #129490;

  --creme-2: #d9e5d6;

  --black: black;
  --white: white;
}

html,
body {
  height: 100%;
  width: 100%;
  /* font-family: "open-sans", sans-serif; */
  font-family: "roboto", sans-serif;

  scroll-behavior: smooth;
  background-color: var(--creme);
}

li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

/* Navbar Starts */

header {
  position: absolute;
  width: 100%;
  max-height: 7rem;
  background: black;
  padding: 0 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  /* background: #acb1d6; */
  /* margin-left: 2rem; */
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
}
.logo__head {
  /* margin-left: 1rem; */
  font-size: 2.5rem;
  color: white;
  font: bold;
}
.logo img {
  width: 20%;
  margin: 0;
}
header ul {
  position: relative;
  list-style: none;
  display: flex;
}
header ul li {
  position: relative;
  /* float: left; */
}
header ul li a {
  color: white;
  font-size: 1.1em;
  padding: 23px 25px;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
header ul li a ion-icon {
  margin-left: 0.5rem;
}
header ul li a:hover {
  background: var(--accent);
}
.dropdown-menu {
  position: absolute;
}
header ul li ul {
  flex-direction: column;
  left: 0;
  width: 200px;
  /* background: var(--ash); */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition:
    opacity 150ms ease-out,
    transform 150ms ease-out;
}
header ul li:hover ul {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
header nav ul li:hover ul li {
  background: var(--ash);
}
header ul li ul li {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.19);
}
.menu__toggle {
  display: none;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}
.menu__toggle a {
  color: white;
}
/* Respnsive */
@media only screen and (max-width: 1000px) {
  header {
    padding: 0px 20px;
  }
  .logo {
    margin-left: 20px;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: var(--ash);

    /* background: rgba(255, 255, 255, 0.1); */
  }
  .links {
    margin: 0px 20px;
    display: none;
  }
  .links.open {
    display: block;
    left: 0%;
    /* transition: transform 200ms ease-in-out; */

    animation: down 200ms ease-in-out;
  }
  @keyframes down {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  header nav ul li {
    width: 100%;
    border-top: 1px solid var(--creme);
  }
  header nav ul li:first-child {
    border-top: none;
  }
  .dropdown-menu {
    position: relative;
    display: none;
  }
  .dropdown-menu.open {
    display: block;
  }
  header ul li ul {
    transform: translateX(0px);
    transition: transform 150ms ease-out;
  }
  header ul li:hover ul {
    transform: translateX(20px);
  }
  header nav ul li ul {
    opacity: 1;
    width: auto;
    margin: 0px 20px;
  }
  header ul li ul li {
    position: relative;
    width: 100%;
    border: none;
  }
  header ul li ul li:first-child {
    border-top: 1px solid var(--creme-2);
  }
  .menu__toggle {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  .sandwitch {
    opacity: 1;
    /* animation: sand 150ms ease-in-out; */
  }
  .cross {
    position: absolute;
    font-size: 2rem;
    opacity: 0;
    /* display: none; */
    transform: translateY(-5px);
    /* display: none; */
    /* opacity: 0; */
    /* display: none; */
  }
  .sandwitch.open {
    /* animation: sand 250ms ease-in-out; */
    opacity: 0;
    transform: translateX(20px);
    transition:
      opacity 200ms ease-out,
      transform 300ms ease-out;
    /* display: none; */
  }
  .cross.open {
    /* display: block; */
    opacity: 1;
    transform: translateY(0px);
    transition:
      opacity 200ms ease-in,
      transform 300ms ease-out;
  }

  @media only screen and (max-width: 500px) {
    header {
      padding: 0px 5px;
    }
    .logo {
      margin-left: 10px;
    }
    .logo img {
      width: 18%;
    }
    .logo__head {
      /* margin-left: 1rem; */
      font-size: 2rem;
      color: white;
      font: bold;
    }
    .menu__toggle {
      font-size: 1.3rem;
    }
    .cross {
      font-size: 1.5rem;
    }
  }
}
