*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-image: url("../images/bg1.svg");
  background-color: #050f1a;
  background-position: bottom;
  background-repeat: no-repeat;
  bottom:0;
  overflow-x: hidden;
  height: auto;
}

/* Navbar Starts */
nav{
  background-color: transparent;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  /* position: fixed; */
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-img{
  width: 8%;
  padding-top:0;
}

.navbar-brand {
  color:white;
  font-weight: bold;
  font-size: 2.5rem;
  max-width:fit-content;
}

/* a,
a:hover,
a:visited,
a:active
{
  color: #29e97e;
  text-decoration: none;
}
a:hover{
    color: #3ecd5e;
} */

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #29e97e;
}

nav a:hover{
  color: #3ecd5e;
  text-decoration: none;
  /* background-color: #ACB1D6; */
}

nav li:first-child{
  margin-right: auto;
}

/* Navbar Ends */

.container{
  margin:0;
  padding:0;
  padding-bottom: 10%;
  min-width:100%;
}

.abt-button{
  margin:25px;
  border: none;
  font-size: 1.8rem;
  justify-content: baseline;
}

img{
  width:80%;
  padding-top: 8%;
}

.text-col{
  padding-left:8%;
  margin-top: 10%;
  color:white;
}
h1{
  font-family: 'Unbounded', cursive;
  margin-left:20px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(
    225deg,
    #ACB1D6 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s reverse infinite;
  display: inline-block;
  font-size: 3.6rem;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

p{
  padding: 10px;
  margin-left: 20px;
  padding-top: 15px;
  font-size: 1.2rem;
}
.intro-con{
  margin-left:20px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

/* ----------------- */
.ag-courses_box {
  width:100%;
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flex;
  display:flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ag-courses_item {
  width: 400px;
  height: 200px;
  display: flex;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  margin: 0 3% 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 28px;
  margin-right: 5%;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(13);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-size: 1.15em;
  text-align: center;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

@media only screen and (max-width: 680px) {
  .navbar-brand{
    width: min-content;
  }
    h1{
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
  }
  .intro-con{
  margin-left:0;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
  img{
    width: 100%;
    margin-top: 10%;
    padding-bottom: 5%;
  }
  .logo-img{
  width:20%;
  margin-top: 5%;
}
}

@media only screen and (max-width: 470px){

.navbar-brand {
  font-size: 1.5rem;
  width: min-content;
}
.abt-button{
  margin-top:0;

}
h1{
  text-align:center;
  font-size: 2rem;

}
.row{
  margin: 8% 4%;
}
  .abt-button{
      margin:0;
  font-size: 1.2rem;
  }
.logo-img{
  width:20%;
  margin-top: 5%;
}
}
