@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ash: #7f7f7f;
  --creme: #f4ebd9;
  --accent: #129490;

  --creme-2: #d9e5d6;

  --primary-text: white;
  --secondary-text: rgb(230, 230, 230);

  --bg-gray: rgb(162, 162, 162);

  --gradient-1: #58a4b0;
  --gradient-2: #3e434e;
  --gradient-3: #1b1b1e;
  --gradient-4: #1a1c1e;
}
@font-face {
  font-family: "Enfonix";
  src: url("../assets/fonts/enfonix-demo-bf63d90aad400f4-webfont.woff"),
    url("../assets/fonts/enfonix-demo-bf63d90aad400f4-webfont.woff2");
}
html,
body {
  height: 100%;
  width: 100%;
  /* font-family: "open-sans", sans-serif; */

  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Space Grotesk", sans-serif;
}

ul,
li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: var(--secondary-text);
}

/* -------- Header Here ------------- */

main {
  position: relative;
  /* overflow: hidden; */
}

/* -------- Hero Here ------------- */

/* -------- CARD Here ------------- */

/* -------- Footer Here ------------- */

